VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN="quantum-initium-dev.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="quantum-initium-dev"
VITE_FIREBASE_STORAGE_BUCKET="quantum-initium-dev.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_ENABLE_DEMO_MODE="false"
